:root {
    color-scheme: light dark;

    --light-bg: #fafafa;
    --light-color-0: white;
    --light-color-1: whitesmoke;
    --light-color-2: lightgray;
    --light-color-3: #aaaaaa;

    --dark-bg: #1d1d1d;
    --dark-color-0: black;
    --dark-color-1: #242424;
    --dark-color-2: #3c3c3c;
    --dark-color-3: #595959;
}

body {
    margin: 0;
    background-color: light-dark(var(--light-bg), var(--dark-bg));
}

.toolbar {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    position: sticky;
    top: 0px;
    background-color: light-dark(var(--light-bg), var(--dark-bg));
}

@media screen and (max-width: 768px) {
    .toolbar {
        top: unset;
        bottom: 0px;
        position: fixed;
        width: -webkit-fill-available;
    }
    .bottom-placeholder {
        height: 60px;
    }
}

.chapter {
    color: light-dark(var(--dark-color-1), var(--light-color-3));
    background-color: light-dark(var(--light-bg), var(--dark-bg));
}

.chapter span {
    font-size: x-large;
}

.chapter .verse-number {
    color: darkred;
    user-select: none;
}

.text-view {
    padding: 0px 20px;
    line-height: 3em;
}

.text-view .verse-number {
    margin: 0px 4px;
}

.list-view p {
    display: flex;
    align-items: baseline;
}

.list-view .verse-number {
    flex-basis: 2em;
    text-align: center;
}

.list-view .verse-text {
    flex: 1;
}

.chapter-select button {
    width: 80px;
}

.version-select button {
    width: 130px;
}

.toogle-view {
    margin-left: auto;
}

.toolbar-hidden .toogle-visible {
    margin-left: auto;
}

.toolbar-hidden .arrow-button {
    flex: 1;
}

/* ui library styles */

.button {
    appearance: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: auto;
    outline: none;
    border: 1px solid light-dark(var(--light-color-2), var(--dark-color-2));
    border-radius: 6px;
    padding: 0 16px;
    background-color: light-dark(var(--light-color-1), var(--dark-color-1));
    color: light-dark(var(--dark-color-0), var(--light-color-3));
    font-size: 16px;
    line-height: 0;
    transition: 250ms background-color;
}

.button:hover {
    background-color: light-dark(var(--light-color-0), var(--dark-color-0));
}

.button:active {
    color: light-dark(var(--light-color-2), var(--dark-color-2));
}

.select__trigger {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 160px;
    border-radius: 6px;
    padding: 0 10px 0 16px;
    font-size: 16px;
    line-height: 1;
    height: 40px;
    outline: none;
    background-color: light-dark(var(--light-color-1), var(--dark-color-1));
    border: 1px solid light-dark(var(--light-color-2), var(--dark-color-2));
    color: light-dark(var(--dark-color-0), var(--light-color-2));
    transition:
        border-color 250ms,
        color 250ms;
}

.select__trigger:hover {
    background-color: light-dark(var(--light-color-0), var(--dark-color-0));
}

.select__trigger[data-invalid] {
    border-color: hsl(0 72% 51%);
    color: hsl(0 72% 51%);
}

.select__value {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.select__value[data-placeholder-shown] {
    color: hsl(240 4% 46%);
}

.select__icon {
    height: 20px;
    width: 20px;
    flex: 0 0 20px;
}

.select__description {
    margin-top: 8px;
    color: hsl(240 5% 26%);
    font-size: 12px;
    user-select: none;
}

.select__error-message {
    margin-top: 8px;
    color: hsl(0 72% 51%);
    font-size: 12px;
    user-select: none;
}

.select__content {
    background-color: light-dark(var(--light-color-1), var(--dark-color-1));
    border-radius: 6px;
    border: 1px solid light-dark(var(--light-color-2), var(--dark-color-2));
    box-shadow:
        0 4px 6px -1px rgb(0 0 0 / 0.1),
        0 2px 4px -2px rgb(0 0 0 / 0.1);
    transform-origin: var(--kb-select-content-transform-origin);
    animation: contentHide 250ms ease-in forwards;
}

.select__content[data-expanded] {
    animation: contentShow 250ms ease-out;
}

.select__listbox {
    overflow-y: auto;
    max-height: 360px;
    padding: 8px;
}

.select__item {
    font-size: 16px;
    line-height: 1;
    color: light-dark(var(--dark-color-0), var(--light-color-2));
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 32px;
    padding: 0 8px;
    position: relative;
    user-select: none;
    outline: none;
}

.select__item[data-disabled] {
    color: hsl(240 5% 65%);
    opacity: 0.5;
    pointer-events: none;
}

.select__item[data-highlighted] {
    outline: none;
    background-color: light-dark(var(--light-color-3), var(--dark-color-3));
    color: light-dark(var(--dark-color-1), var(--light-color-1));
}

.select__section {
    padding: 8px 0 0 8px;
    font-size: 14px;
    line-height: 32px;
    color: hsl(240 4% 46%);
}

.select__item-indicator {
    height: 20px;
    width: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

@keyframes contentShow {
    from {
        opacity: 0;
        transform: translateY(-8px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes contentHide {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-8px);
    }
}

.toggle-button {
    appearance: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    outline: none;
    border: 1px solid light-dark(var(--light-color-2), var(--dark-color-2));
    border-radius: 6px;
    background-color: light-dark(var(--light-color-1), var(--dark-color-1));
    color: light-dark(var(--dark-color-0), var(--light-color-3));
    font-size: 16px;
    line-height: 0;
}

.toggle-button:hover {
    background-color: light-dark(var(--light-color-0), var(--dark-color-0));
}
