:root {
    @media (prefers-color-scheme: light) {
        --body-bg: oklch(1 0 0);
        --body-text: oklch(0 0 0);
        --body-text-desp: oklch(0.5 0 0);
        --toolbar-bg: oklch(1 0 0);
        --button-bg: oklch(0.98 0 0);
        --button-border: oklab(0.9 0 0);
        --button-hover: oklch(1 0 0);
        --button-text: oklch(0 0 0);
        --button-selected: oklch(0.9 0 0);
        --green: oklch(0.57 0.12 154.94);
        --red: oklch(0.47 0.21 27.88);

        &[data-theme-light="soft"] {
            --body-bg: #f1e1c8;
            --body-text: #34281b;
            --body-text-desp: #91785c;
            --toolbar-bg: #f1e1c8;
            --button-bg: #f5ead1;
            --button-border: #dbd4b1;
            --button-hover: #eadec0;
            --button-text: #34281b;
            --button-selected: #c1b391;
            --green: seagreen;
            --red: darkred;
        }
    }

    @media (prefers-color-scheme: dark) {
        --body-bg: oklch(0.2 0 0);
        --body-text: oklch(0.7 0 0);
        --body-text-desp: oklch(0.5 0 0);
        --toolbar-bg: oklch(0.24 0 0);
        --button-bg: oklch(0.22 0 0);
        --button-border: oklch(0.28 0 0);
        --button-hover: oklch(0.2 0 0);
        --button-text: oklch(0.7 0 0);
        --button-selected: oklch(0.4 0 0);
        --green: oklch(0.36 0.12 154.94);
        --red: oklch(0.3 0.21 27.88);

        &[data-theme-dark="night"] {
            --body-bg: #000000;
            --body-text: #8c8c93;
            --body-text-desp: #4e4e4e;
            --toolbar-bg: #000000;
            --button-bg: #000000;
            --button-border: #2b2b2b;
            --button-hover: #161616;
            --button-text: #8c8c93;
            --button-selected: #222222;
            --green: seagreen;
            --red: darkred;
        }
    }
}

body {
    margin: 0;
    background-color: var(--body-bg);
}

p {
    margin: 0px;
}

mark {
    color: var(--green);
    background-color: unset;
}

button {
    touch-action: none;
}

.toolbar {
    display: flex;
    gap: 10px;
    padding: 10px;
    bottom: 0px;
    position: fixed;
    background-color: var(--toolbar-bg);
    justify-content: space-between;
    width: stretch;

    @media screen and (min-width: 768px) {
        bottom: 20px;
        left: 50%;
        border-radius: 10px;
        transform: translateX(-50%);
        width: 420px;
        box-shadow: 0 0 10px 1px #00000021;
    }

    .arrow-button {
        flex: 1;
    }

    .select-version button {
        width: 180px;
    }

    .select-volume button {
        width: 120px;
    }

    .select-chapter button {
        width: 60px;
    }
}

.setting {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--body-bg);

    .setting-item {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 20px;
        justify-content: space-between;

        .setting-info {
            display: flex;
            flex-direction: column;

            .setting-label {
                font-size: large;
                color: var(--body-text);
            }

            .setting-description {
                font-size: small;
                color: var(--body-text-desp);
            }
        }
    }
}

.chapter {
    color: var(--body-text);
    background-color: var(--body-bg);
    padding: 20px 10px;
    margin-bottom: 80px;
    font-size: x-large;

    h1 {
        text-align: center;
        font-size: xx-large;
        font-weight: normal;
    }

    h2 {
        text-align: center;
        font-size: x-large;
        font-weight: normal;
        color: var(--green);
    }

    .verse-number {
        color: var(--red);
        user-select: none;
    }

    &.text-view {
        line-height: 2em;
        padding: 20px 20px;

        p {
            display: inline;
        }

        .verse-number {
            margin: 0px 4px;
        }
    }

    &.list-view {
        display: flex;
        flex-direction: column;
        gap: 15px;

        p {
            display: flex;
            align-items: baseline;
            gap: 10px;
        }

        .verse-number {
            flex-basis: 1em;
            text-align: center;
        }

        .verse-text {
            flex: 1;
        }
    }
}

@keyframes flash {
    from {
        background-color: var(--button-selected);
    }
    to {
        background-color: transparent;
    }
}

.highlight {
    animation: flash 3s cubic-bezier(0.8, 0, 0.2, 1);
}

.button {
    appearance: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: auto;
    outline: none;
    border: 1px solid var(--button-border);
    border-radius: 6px;
    padding: 0 16px;
    background-color: var(--button-bg);
    color: var(--button-text);
    font-size: 16px;
    line-height: 0;
    transition: 250ms background-color;

    @media (any-hover: hover) {
        &:hover {
            background-color: var(--button-hover);
        }

        &:active {
            color: #636363;
        }
    }
}

.select__trigger {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    border-radius: 6px;
    padding: 0 10px;
    font-size: 16px;
    height: 40px;
    outline: none;
    background-color: var(--button-bg);
    border: 1px solid var(--button-border);
    color: var(--button-text);
    transition:
        border-color 250ms,
        color 250ms;

    @media (any-hover: hover) {
        &:hover {
            background-color: var(--button-hover);
        }
    }
}

.select__value {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: var(--button-text);
}

.select__content {
    background-color: var(--button-bg);
    border-radius: 6px;
    border: 1px solid var(--button-border);
    box-shadow:
        0 4px 6px -1px rgb(0 0 0 / 0.1),
        0 2px 4px -2px rgb(0 0 0 / 0.1);
    transform-origin: var(--kb-select-content-transform-origin);
    animation: contentHide 250ms ease-in forwards;
}

.select__content[data-expanded] {
    animation: contentShow 250ms ease-out;
}

.select__listbox {
    overflow-y: auto;
    max-height: 400px;
    padding: 8px;
    scrollbar-width: none;
    margin: 0;
}

.select__item {
    font-size: 16px;
    line-height: 1;
    color: var(--button-text);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 32px;
    padding: 0 8px;
    position: relative;
    user-select: none;
    outline: none;
    gap: 10px;
}

.select__item[data-highlighted] {
    outline: none;
    background-color: var(--button-selected);
    color: var(--button-text);
}

.select__section {
    margin: 4px 0;
    font-size: 20px;
    color: var(--red);
    border-bottom: 1px solid;
}

.select__item-indicator {
    height: 20px;
    width: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

@keyframes contentShow {
    from {
        opacity: 0;
        transform: translateY(-8px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes contentHide {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-8px);
    }
}

.toggle-button {
    appearance: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    outline: none;
    border: 1px solid var(--button-border);
    border-radius: 6px;
    background-color: var(--button-bg);
    color: var(--button-text);
    font-size: 16px;
    line-height: 0;

    @media (any-hover: hover) {
        &:hover {
            background-color: var(--button-hover);
        }
    }
}

.switch {
    display: inline-flex;
    align-items: center;
}

.switch__control {
    display: inline-flex;
    align-items: center;
    height: 24px;
    width: 40px;
    border: 1px solid var(--button-border);
    border-radius: 12px;
    padding: 0 2px;
    background-color: var(--button-bg);
    transition: 250ms background-color;
}

.switch__thumb {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: var(--button-selected);
    transition: 250ms transform;
}

.switch__thumb[data-checked] {
    background-color: var(--green);
    transform: translateX(100%);
}

.radio-group {
    display: flex;
    gap: 8px;
}

.radio {
    display: flex;
    align-items: center;
    gap: 4px;
}

.radio__control {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    border: 1px solid var(--button-border);
    background-color: var(--button-bg);
}

.radio__indicator {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: var(--green);
}

.radio__label {
    color: var(--button-text);
    font-size: 14px;
    user-select: none;
}

.search__control {
    display: inline-flex;
    width: 100%;
    border-radius: 6px;
    border: 1px solid var(--button-border);
}

.search__input {
    display: inline-flex;
    width: 100%;
    min-height: 40px;
    padding-left: 16px;
    font-size: 16px;
    background: transparent;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border: 0px;
    color: var(--button-text);
    outline: none;
}

.search__indicator {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    padding: 0 10px;
    background-color: var(--button-bg);
    border-right: 1px solid var(--button-border);
    color: var(--button-text);
}

.search__icon {
    display: flex;
}

.load__icon {
    display: flex;
}

.spin__icon {
    animation: spin 600ms linear;
    animation-iteration-count: infinite;
    margin: auto;
}

.search__content {
    background-color: var(--body-bg);
    border-radius: 6px;
    border: 1px solid var(--button-border);
    box-shadow:
        0 4px 6px -1px rgb(0 0 0 / 0.1),
        0 2px 4px -2px rgb(0 0 0 / 0.1);
    transform-origin: var(--kb-search-content-transform-origin);
    animation: contentHide 250ms ease-in forwards;
    width: var(--kb-popper-anchor-width);
    max-height: 300px;
    overflow-y: scroll;

    @media screen and (min-width: 768px) {
        max-height: calc(100vh - 180px);
    }
}

.search__content[data-expanded] {
    animation: contentShow 250ms ease-out;
}

.search__listbox {
    padding: 8px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 6px;
    margin: 0;
}

.search__listbox:focus {
    outline: none;
}

.search__item {
    font-size: 16px;
    color: var(--body-text);
    border-radius: 10px;
    padding: 8px;
    user-select: none;
    display: flex;
    margin: 0px;
    flex-direction: column;

    @media screen and (min-width: 768px) {
        font-size: 24px;
    }

    .number {
        color: var(--body-text-desp);
        font-size: 14px;
    }
}

.search__item[data-highlighted] {
    background-color: var(--button-selected);
}

.search__section {
    padding: 8px 0 0 8px;
    font-size: 14px;
    line-height: 32px;
    color: hsl(240 4% 46%);
}

.search__no_result {
    text-align: center;
    padding-bottom: 24px;
    font-size: 50px;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes contentShow {
    from {
        opacity: 0;
        transform: translateY(-8px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes contentHide {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-8px);
    }
}
