button {
    all: unset;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--button-text);
    padding: 8px 16px;
    border: 1px solid var(--button-border);
    border-radius: 6px;
    background-color: var(--button-bg);
    touch-action: none;
    cursor: pointer;

    @media (any-hover: hover) {
        &:hover {
            background-color: var(--button-hover);
        }

        &:active {
            color: #636363;
        }
    }
}

button[popovertarget="select-version"] {
    width: 140px;
    height: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    display: inline-block;
}

button[popovertarget="select-book"] {
    width: 80px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    display: inline-block;
}

button[popovertarget="select-chapter"] {
    width: 20px;
}

.button {
    flex: 1;
}

.switch {
    display: flex;
    align-items: center;
    width: 42px;
    height: 24px;
    padding: 0 2px;
    border: 1px solid var(--button-border);
    background-color: var(--button-bg);
    border-radius: 12px;
    cursor: pointer;

    span {
        width: 20px;
        height: 20px;
        background-color: var(--button-selected);
        border-radius: 50%;
        transition: transform 0.3s ease;
    }

    &[data-checked] {
        span {
            transform: translateX(22px);
            background-color: var(--green);
        }
    }
}

.select-popover {
    border: 1px solid var(--button-border);
    border-radius: 12px;
    width: fit-content;
    max-width: 90%;
    max-height: 80%;
    box-shadow: 0 0 10px 1px #00000021;
    margin: auto auto 80px;

    ul {
        all: unset;
        display: grid;
        grid-template-columns: repeat(1, minmax(10px, 1fr));
        padding: 10px;

        li {
            all: unset;
            user-select: none;
            padding: 4px;
            border-radius: 6px;

            &:hover {
                background-color: var(--button-selected);
            }

            &.selected {
                background-color: var(--button-selected);
            }
        }
    }
}

#select-version ul {
    grid-template-columns: repeat(1, minmax(10px, 1fr));
}

#select-book ul {
    grid-template-columns: repeat(5, minmax(10px, 1fr));
    @media screen and (max-width: 768px) {
        grid-template-columns: repeat(2, minmax(10px, 1fr));
    }
}

#select-chapter ul {
    place-items: center;
    font-size: x-large;

    grid-template-columns: repeat(7, minmax(10px, 1fr));
}
