button {
    all: unset;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--button-text);
    padding: 8px 16px;
    border: 1px solid var(--button-border);
    border-radius: 6px;
    background-color: var(--button-bg);
    touch-action: none;
    cursor: pointer;
    flex: 1;

    @media (any-hover: hover) {
        &:hover {
            background-color: var(--button-hover);
        }

        &:active {
            color: #636363;
        }
    }
}

button[popovertarget] {
    flex: unset;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    display: inline-block;
}

[popover] {
    background-color: var(--body-bg);
    color: var(--body-text);
    border: 1px solid var(--button-border);
    border-radius: 12px;
    max-width: 96%;
    max-height: 80%;
    box-shadow: 0 0 10px 1px #00000021;
    margin: auto auto 90px;
    scrollbar-width: none;

    @media screen and (max-width: 768px) {
        margin: auto auto 60px;
    }

    ul {
        all: unset;
        display: grid;
        grid-template-columns: 1fr;
        padding: 10px;
        gap: 2px;
        cursor: pointer;

        li {
            all: unset;
            user-select: none;
            padding: 4px;
            border-radius: 6px;
            width: 100%;
            box-sizing: border-box;
            text-align: center;

            @media (any-hover: hover) {
                &:hover {
                    background-color: var(--button-selected);
                }
            }

            &.selected {
                background-color: var(--button-selected);
            }
        }
    }
}

.search {
    display: flex;
    color: var(--button-text);

    div {
        background-color: var(--button-bg);
        border: 1px solid var(--button-border);
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px;
    }

    input {
        all: unset;
        border: 1px solid var(--button-border);
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        border-left: none;
        padding: 8px;
        width: 100%;
    }
}
