button {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--button-text);
    border: 1px solid var(--button-border);
    background-color: var(--button-bg);
    border-radius: 6px;
    padding: 8px 16px;
    touch-action: none;
    user-select: none;
    cursor: pointer;

    @media (any-hover: hover) {
        &:hover {
            background-color: var(--button-hover);
        }

        &:active {
            color: #636363;
        }
    }
}

button[popovertarget] {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    line-height: 1.5;
}

[popover] {
    background-color: var(--body-bg);
    color: var(--body-text);
    border: 1px solid var(--button-border);
    border-radius: 12px;
    max-height: 65%;
    box-shadow: 0 0 10px 1px #00000021;
    margin: auto auto 90px;
    scrollbar-width: none;

    @media screen and (max-width: 768px) {
        margin: auto auto 60px;
    }

    div {
        display: grid;
        grid-template-columns: 1fr;
        padding: 10px;
        gap: 2px;
        cursor: pointer;

        span {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 4px;
            border-radius: 6px;
            line-height: 1.5;
            user-select: none;

            @media (any-hover: hover) {
                &:hover {
                    background-color: var(--button-selected);
                }
            }
        }
    }
}

.search {
    display: flex;
    color: var(--button-text);

    div {
        background-color: var(--button-bg);
        border: 1px solid var(--button-border);
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        display: flex;
        padding: 8px;
    }

    input {
        all: unset;
        border: 1px solid var(--button-border);
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        border-left: none;
        padding: 8px;
        width: 100%;
    }
}

.loading {
    svg {
        animation: spin 1s linear infinite;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loading,
.empty {
    display: flex;
    align-items: center;
    justify-content: center;
    color: oklch(0 0 0 / 0.1);

    @media (prefers-color-scheme: dark) {
        color: oklch(1 0 0 / 0.1);
    }
}
